VITE_TMDB_API_KEY="YOUR_TMDB_API_KEY_HERE"
VITE_DISABLE_STREAMING="true"
VITE_APP_NAME="mjland"
VITE_APP_SHORT_NAME="mj"
VITE_SERVERS='[{"name":"Example Server","tag":"FAST • HD","lang":"English","movie":"https://example.com/movie/{id}","tv":"https://example.com/tv/{id}/{season}/{episode}"}]'
